.card {
  margin: 20px auto;
  padding: 20px;
  width: 80%;
  border: 1px solid gray;
  background-color: #f4efea;
  box-shadow: 5px 5px 5px #aaa;
  transition: background-color 1s, height 1s;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}
.statusBox {
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: left;
}
.answerBtn {
  all: unset;
  width: 30%;
  height: 30px;
  padding: 5px;
  margin: 15px;
  border-radius: 20px;
  background-color: #9a161f;
  box-shadow: 0 2px 2px 1px #9a161f;
  color: white;
}
.answerBox {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
}
.questionBox {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.backBox {
  width: 100%;
  display: flex;
  justify-content: left;
}
.backBtn {
  all: unset;
}
