.start {
  margin: auto;

  text-align: center;
  justify-content: center;
}

.box {
  height: 460px;
  width: 225px;
  text-align: center;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px #aaa;
  transition: background-color 1s, height 1s;
}
.img {
  width: 225px;
  height: 300px;
}
.others {
  margin-top: 280px;
  text-decoration: none;
}
button {
  all: unset;
  color: white;
  background-color: black;
  border: 1px black solid;
  text-decoration: none;
}
